*{
    margin:0;
    padding:0;
    text-decoration:none;
    color:#555;
    font-family: 'Lato', sans-serif;
}

/* --------------------------------- Allgemein */

h1{
    color:#00a8ff;
    font-size:60px;
    text-transform: uppercase;
}
h2{
    font-size:40px;
    font-weight:400;
    margin-bottom:20px;
}
h3 {
    text-transform: uppercase;
    font-size: 37px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #00a8ff;
}
p {
    margin-bottom: 30px;
    line-height: 26px;
    font-size: 19px;
    font-weight: 300;
}
a:hover{
    color:#00a8ff;
}
button{
    border:none;
    background-color:transparent;
}
button a{
    border: 1px solid #555;
    font-size:15px;
    padding: 20px 40px;
    display:block;
    text-transform: uppercase;
    letter-spacing:1px;
    transition:0.3s;
}
button a:hover{
    color:#fff;
    background-color:#00a8ff;
    border-color:#00a8ff;
}
.zentriert{
    text-align:center;
}

/* --------------------------------- Blau */

.blau{
    background-color:#00a8ff;
    color:#fff;
}
.blau h3, .blau p, .blau a{
    color:#fff;
}
.blau a:hover{
    opacity:0.7;
}
.blau button a{
    border-color: #fff;
}
.blau button a:hover{
    background-color:#fff;
    color:#00a8ff;
}

/* --------------------------------- Grid */

.container-full{
    display:flex;   
}
.container{
    display:flex;
    padding: 0 25px;
}
.container-small{
    width:1300px;
    margin:auto;
}
.spalte-12{
    width:100%;
    padding: 0 15px;
}
.spalte-6{
    width:50%;
}
.spalte-3{
    width:25%;
    padding: 0 15px;
}

.innenabstand{
    display:flex;
    align-items: center;
    padding: 0 10%;
    box-sizing: border-box;
}

/* --------------------------------- Abstände */

.abstand-100-100{
    padding: 100px 0 100px 0;
}


/* --------------------------------- Main */

main img{
    width:100%;
}

/* --------------------------------- Header */

header{
    display:flex;
    justify-content:space-between;
    padding:40px;
    box-shadow: 0 0 40px #00000011;
}
header nav{
    display:flex;
    align-items: center;
}
header nav ul{
    display:flex;
    list-style:none;
    font-size:20px;
    font-weight:300;
    text-transform:uppercase;
}
header nav ul li {
    margin-left: 30px;
}
header nav ul li a.active{
    color:#00a8ff;
}
header nav ul li a:hover{
    color:#00a8ff;
}


/* --------------------------------- Titelbild */

#titelbild{
    background-image:url(images/titelbild-startseite.jpg);
    padding: 200px 0;
    background-repeat:no-repeat;
    background-size:cover;
}


/* --------------------------------- Angebot */

#angebot{
    background-color:#fafafa;
}


/* --------------------------------- Footer */

footer nav ul{
    list-style:none;
    text-transform: uppercase;
    font-weight:300;
    line-height:30px;
}

footer #rechtliches nav ul{
    display:flex;
    justify-content: center;
    padding: 15px 0;
}

footer #rechtliches nav ul li{
   margin: 0 10px;
}




